html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

.header{
    width: 100%;
    height: 5%;
    background-color: #000000;
    text-align: center;
}

.headerText {
    font-family: "Sevillana", cursive;
    display: block;
    font-weight: bold;
    color: #ffffff;
    font-size: 35px;
    padding-top: 5px;
}

.midContainer{
    height: 90%;
    display: flex;
}

.sideMenu{
    height: 100%;
    width: 15%;
    background-color: #f8f9fa;
}

.secondHeader{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 8%;
    margin-top:2%;
}

.bodyContainer{
    height: 100%;
    width: 85%;
}

.mainContent{
    height: 92%;
}

.secondHeader > div{
    width: 22%;
}

.secondHeader > div > label{
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
}

.searchArea{
    border-radius: 4px;
    height: 24px;
    width: 100%;
    background: url('/static/img/search_icon.png') no-repeat 5px center;
}